.App {
  text-align: center;
}

.App-logo {
  width: 200px;
  height: 40vmin;
  pointer-events: none;
}

.App-header {

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
